BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: false
SpaceAfterControlStatementKeyword: true
#AlignTrailingComments: true
#AlignAfterOpenBracket: true
#AlignConsecutiveAssignments: true
---  
Language: Cpp  